GOOGLE_API_KEY=
GOOGLE_MODEL=gemini-flash-latest

MONDAY_API_TOKEN=
MONDAY_BOARD_ID=
MONDAY_API_URL=https://api.monday.com/v2

LANGFUSE_SECRET_KEY="your-secret-key"
LANGFUSE_PUBLIC_KEY="your-public-key"
LANGFUSE_BASE_URL="https://cloud.langfuse.com"